kestra_flow.yaml
id: monitor-keyword-hackernews
namespace: sylvain.kalache

inputs:
  - id: keyword
    type: STRING
    defaults: "AI"
    displayName: "Keyword to look for in HackerNews conversations"

tasks:
  - id: hn_to_csv
    type: io.kestra.plugin.cloudquery.CloudQueryCLI
    inputFiles:
      config.yml: |
        kind: source
        spec:
          name: hackernews
          path: cloudquery/hackernews
          version: v3.7.1
          tables: ["*"]
          destinations:
            - file
          spec:
            item_concurrency: 100
            start_time: "{{ execution.startDate | dateAdd(-5, 'MINUTES') }}"
        ---
        kind: destination
        spec:
          name: file
          path: cloudquery/file
          version: v5.4.1
          spec:
            path: "{% raw %}{{TABLE}}/{{UUID}}.{{FORMAT}}{% endraw %}"
            format: csv
    outputFiles:
      - "**/*.csv"
    env:
      CLOUDQUERY_API_KEY: "{{ secret('CLOUDQUERY_API_KEY') }}"
    commands:
      - cloudquery sync config.yml --log-console --log-level=warn

  - id: filter_keyword
    type: io.kestra.plugin.scripts.shell.Script
    script: |
      # Extract the actual file path (after the colon)
      file=$(echo "{{ outputs.hn_to_csv.outputFiles }}" | awk -F':' '{print $2}' | tr -d '}')
      awk -F',' 'BEGIN {IGNORECASE=1} / {{ inputs.keyword }} / {print $5}' "$file" >> ids.txt
      awk '{print "<br> https://news.ycombinator.com/item?id=" $1}' ids.txt > links.txt
    outputFiles:
      - links.txt

  - id: send_email
    type: io.kestra.plugin.notifications.mail.MailSend
    from: "{{ secret('FROM') }}"
    to: "{{ secret('TO') }}"
    username: "{{ secret('USERNAME') }}"
    password: "{{ secret('APP_PASSWORD') }}"
    host: smtp.gmail.com
    port: 465
    subject: "New conversation about Kubernetes on HackerNews"
    htmlTextContent: |
      <p{{ read(outputs.filter_keyword.outputFiles['links.txt']) }}</p>
